* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
}


/* Side Bar */

.sidebar {
    background-color: #ff3b49;
    color: #fff;
}

h1 {
    margin: 3rem auto;
    text-align: center;
}

.side-menu {
    list-style: none;
    margin-bottom: 3rem;
}

.side-menu > li {
    padding: 0.2rem 1rem;
}

.side-menu > li:nth-child(1) {
    font-weight: 900;
    background-color: #ff5662;
    padding: 0.5rem 1rem;
}

.side-menu > li:not(:nth-child(1)):hover {
    background-color: rgba(0, 0, 0.8);
    /* opacity: 0.8; 투명도*/
    transition: all 1s;
}

a {
    text-decoration: none;
    color: #fff;
}


/* Main */

.main {
    background-color: #c8c8c8;
}

/* Search Section */

.main-search-bar {
    height: 50px;
}

.main-search-bar > form {
    display: flex;
    justify-content: space-around;
    padding: 5px 1rem;
}

#search {
    width: 90%;
    border-radius: 10px;
}

.btn-search {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6e5af0;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 40px;
}

/* Logo Section */

.main-title-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url("./img/main_title.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 3rem;
    color: #fff;
}

/* Content Section */

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 1rem;
    gap: 1rem;
}

.card {
    background-color: #fff;
    padding: 1rem;
}

.card-img {
    padding-top: 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-title {
    margin: 1rem 0;
}


/* TOP Button */

.btn-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #006400;
    color: #fff;
    font-weight: 900;
}