{
  "arrowParens": "avoid",
  "arrowParens_comment": "화살표 함수 괄호((x) => x) 여부, always: 넣음 | avoid: 안넣음",

  "bracketSameLine": true,
  "bracketSameLine_comment": "마지막 `>`를 다음 줄로 내릴지 여부 ",

  "bracketSpacing": true,
  "bracketSpacing_comment": "객체 리터럴에서 괄호에 공백 삽입 여부 { foo: bar }",

  "semi": true,
  "semi_comment": "세미콜론 여부, true면 없는거 뒤에 자동으로 붙음",

  "singleQuote": false,
  "singleQuote_comment": "홀따옴표 사용여부, true: 홀따옴표 | false: 쌍따옴표",

  "quoteProps": "as-needed",
  "quoteProps_comment": "객체 속성에 쿼테이션 적용 방식",

  "trailingComma": "none",
  "trailingComma_comment": "문자열 후행쉼표 여부, all: 전부 | none: 안줌",

  "htmlWhitespaceSensitivity": "css",
  "htmlWhitespaceSensitivity_comment": "포맷팅 방식, css: CSS display 속성에 따라 | strict: 모든 공백을 중요한 것이라 간주 | ingnore: 모든 공백을 중요하지 않다고 간주",

  "vueIndentScriptAndStyle": true,
  "vueIndentScriptAndStyle_comment": "Vue 파일의 script와 style 태그의 들여쓰기 여부",

  "proseWrap": "preserve",
  "proseWrap_comment": "markdown 텍스트의 줄바꿈 방식",

  "insertPragma": false,
  "insertPragma_comment": "미리 정의된 @format marker의 사용 여부",

  "printWidth": 120,
  "printWidth_comment": "한 줄 최대 글자수, 기본 80 | 권장 120",

  "requirePragma": false,
  "requirePragma_comment": "파일 상단에 미리 정의된 주석을 작성하고 Pragma로 포맷팅 사용 여부 지정",

  "tabWidth": 2,
  "tabWidth_comment": "탭 너비, 숫자만큼 들여씀",

  "useTabs": false,
  "useTabs_comment": "탭 사용 여부, true:탭 문자 | false: 띄어쓰기",

  "embeddedLanguageFormatting": "auto",
  "embeddedLanguageFormatting_comment": "파일 안에 또다른 형식의 코드에도 Prettier를 적용할지 여부",

  "disableLanguages": ["php"],
  "plugins": ["@prettier/plugin-php"],
  "braceStyle": "1tbs",
  "braceStyle_comment": "코드 스타일을 적용, per-cs: bsd | 1tbs: K&R"
}
