/* ---------------------------------------------------------------------- 
  우측 메인
----------------------------------------------------------------------*/

/* 입력 폼 */
.data-form {
  gap: 100px; /* input과 버튼 사이의 갭 */
  font-size: 2rem;
}

/* 박스간의 상하 간격 조절 */
.data-input div:last-child, .data-button button:last-child {
  margin-top: 20px;
}

/* 입력 폼 안의 input과 버튼은 동일한 크기를 가짐 */
.data-form input, .data-form button {
  padding: 8px;
  width: 470px;
  max-width: 45vw;
  font-size: 1.9rem;
}

/* 모바일 설정: 화면 너비가 일정 크기 이하일 때 */
@media(max-width: 600px) {
  .data-form input, .data-form button {
    width: 470px;
    max-width: 80vw;
  }
}
