/* 암색 배경 */
.data-form {
  background-color: #E8E8E8;
  width: 710px;
  max-width: 38vw;
  height: 100%;
  max-height: 500px;
}

/* 텍스트 문단 */
.data-info {
  font-size: 2.8rem;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ~님의 가족코드 텍스트 */
.data-info > p:nth-child(1) {
  margin: 10px;
}

/* 가족코드 문단 */
.fam-code {
  width: 520px;
  max-width: 40vw;
  margin: 0 auto;
  text-align: center;
}

/* 가족코드 텍스트 */
.fam-code > p {
  background-color: #fff;
  width: 100%;
  max-width: 80vw;
  padding: 20px;
}

/* 중간 텍스트 */
.middle-text {
  margin-top: 80px;
  padding: 5px;
}

/* 자녀 프로필 영역 */
.profile-field {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  padding: 10px;
  gap: 50px;
  /* height: 100%; */
}

/* 자녀 프로필 세로 정렬 */
.profile-info {
  flex-direction: column;
}

/* 자녀 이름 텍스트 */
.profile-info > p {
  font-size: 1.5rem;
  padding-right: 10px;
}

/* 아이콘 문단 */
.icon-img {
  display: inline-block;
  background-color: #fff;
  border: 3px solid #A4D8E1;
  border-radius: 50%;
  padding: 10px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

/* 아이콘 크기 */
.icon-img img {
  width: 100%;

}/* 다음 버튼 끝쪽으로 배치 */
.next-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* 다음 버튼 */
.next-btn button {
  position: absolute;
  top: 107%;
  left: calc(100% - 230px); /* 컨테이너 너비에서 버튼 너비를 뺀 위치 */
  background-color: transparent;
  font-size: 2.3rem;
  width: 250px;
  max-width: 70vw;
  text-align: right;
}

/* 버튼 호버 효과 삭제 */
.next-btn button:hover {
  background-color: initial;
  color: initial;
}

@media(max-width: 1660px) {
  /* JS로 4개 이상일시 자동으로 붙으도록 설정헤야함 */
  .profile-field { 
    overflow: auto;
  }
}

@media(max-width: 1360px) {
  /* 우측 박스 너비 조절 */
  .data-form {
    width: 93%;
    max-width: 80vw;
  }
  .data-info {
    font-size: 2.3rem;
  }
}

@media(max-width: 600px) {
  /* 높이 조절 */
  .data-form {
    margin-top: 80px;
    max-height: 650px;
  }
  
  .fam-code {
    max-width: 60vw;
  }

  .fam-code > p {
    padding: 10px;
  }
}