
.div-img {
    width: 200px;
    height: 200px;

    /* , 뒤엔 앞에걸 못불러왓을때 씀. 횟수제한 없음 */
    background-image: url("../img/img.jpg"), url("../img/github.png");

    /* content가 넘칠때 스크롤 */
    /* overflow: scroll; */

    /* 
        배경 이미지 크기 
            ㄴauto : 원본유지 (디폴트)
            ㄴcontain : 이미지가 다들어가도록 조절
            ㄴcover : 정사각에 맞게 조절 **제일 흔하게씀
            -px, em, rem : 너비로 지정되고, 높이는 자동계산
            -% : 이미지 비율 맞도록 조정
    */
    background-size: cover;


    /* 배경 초기위치 설정, **center가 제일 흔함 */
    background-position: center;
}

.div-repeat {
    width: 200px;
    height: 200px;
    background-image: url("../img/github.png");

    /* 
        작은 이미지가 여러개일때 no-repeat주면 하나만 표시, div크기는 그대로니 주의
        알고만 있으면 언젠가 쓰임, 많이 쓰이진않음 
    */
    background-repeat: no-repeat;
}
