div {
    width: 200px;
    height: 150px;
    border: 1px solid #000000;
    margin: 10px;
}

.div1 {
    background: linear-gradient(
        /* to top,  방향 지정*/
        0deg, /* 0~360도 */
        blue, skyblue 80%, white
    );
}

.div2 {
    background: radial-gradient(
        circle at 0% 20%, blue, skyblue
    );
}