
/* 공백, >,  +, ~ 선택자 */

/* 
    후손 결합자   **자주쓰임
    - 공백 사용
    - 부모 영역내 있는 특정 선택자에 스타일을 적용
*/

header span {
    color: red;
}


/* 
    자식 결합자   **자주쓰임
    - > 사용
    - 부모 직계 자식 요소로 한정해 적용
    - 그안에 다른 태그 안쪽건 적용불가능
    
*/

header > span {
    color: blue;
}


/* 
    인접 형제  결합자
    - + 사용
    - 선택한 태그 바로 밑에있는 태그 하나에만 적용
*/

header + span {
    color: green;
}


/* 
    일반 형제 결합자
    - ~ 사용
    - 선택한 태그 이후 모든 형제태그들에 적용, 해당 선택태그는 적용안됨
    - 형제말고 자식이있는 안쪽에 있는 태그는 적용불가능
*/

header ~ span {
    color : violet;
}