.container {
  padding: 1.5rem;
  border-bottom: none;
}

.main-middle {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-top: 3rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1.3rem 1.2rem;
  height: 250px;
}

.main-middle :nth-child(2) {
  color: #bbb;
}

h2 {
  font-size: 2.2rem;
}

/* 하단 버튼 영역 */
.btn-bottom {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}
/* 버튼 설정 */
.btn-bottom > button[type="submit"] {
  padding: 5px 15px;
  background-color: #ff0000;
  color: #fff;
  border: 1px solid #ddd;
}
/* 호버시 진하게 */
.btn-bottom > button[type="submit"]:hover {
  background-color: #b83014;
}

/*/////////////////////////////////////////////////////////*/
/* 다크모드 관련설정 ///////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/

/* 다크모드로 변경시 그에 맞춰 색상도 바꿔줘야함*/
[data-theme="dark"] {
  /* 모달 텍스트 색맞춤 */
  .modal-img + p {
    color: #000;
  }
}

/*/////////////////////////////////////////////////////////*/
/* 모달박스 관련설정 ///////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 50%;
  height: 50%;
  box-shadow:
    0 5px 8px 0 rgba(0, 0, 0, 0.2),
    0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  border-radius: 5px;
}

/* 표시할 이미지 영역 */
.modal-img {
  text-align: center;
  margin-bottom: 10px;
}
.modal-img > img {
  width: 15rem;
}
