/*/////////////////////////////////////////////////////////*/
/* main */
/*/////////////////////////////////////////////////////////*/

.container {
  /* 배너 넣어줄 그리드를 나눔 */
  display: grid;
  grid-template-rows: 165px 1fr;

  /* 전체 외곽선 */
  border: 1px solid #bbbbbb;
}

/* 배너 삽입 */
.pepe-banner {
  background-image: url("../img/banner.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid #bbbbbb;
}

.content {
  /* 본문영역 기본  여백설정 */
  padding: 1rem;
}

.content-top {
  display: flex;
  justify-content: space-between;
}

/* .content-top-left {
} */

.content-top-left > form {
  /* 셀렉트폼을 같은줄에 놓기위해 인라인 사용 */
  display: inline-block;
}

/* .content-top-right {
} */
